@use 'base';
@use 'typography';

@mixin field-values {
    padding: (base.$padding-base) * 0.5;
    font-size: typography.$text-p-size;
    max-width: 50rem;
    width: 100%;
    border: none;
}

body {
    font-family: typography.$font-base;
    background-color: base.$bg-beige;
}

.input-field-wrap {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    background-color: base.$bg-grey;

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    label {
        @include field-values();
        padding: 1rem;
        background-color: base.$bg-purple;
        font-weight: 600;
        color: typography.$text-light;
    }

    input {
        @include field-values();

    }

    select {
        @include field-values();

    }
}

.course-list {
    max-width: 50rem;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    width: 100%;
}