@use 'base';

/*Typsnitt*/
$font-base : "Open Sans", sans-serif;

/*Typsnitt färger*/
$text-dark: #1A1F16;
$text-light: #ffffff;

/*Typsnitt storlek*/
$text-p-size : 1.8rem;

$h1-font-size : 4.2rem;
$h2-font-size : 3.2rem;
$btn-size : 2.4rem;

h1 {
    font-size: $h1-font-size;
    max-width: 100rem;
    width: 100%;
    padding: base.$padding-base;
    margin: 0 auto;
}

h2 {
    font-size: $h2-font-size;
    background-color: base.$bg-purple;
    color: $text-light;
    padding: base.$padding-base;
    margin-bottom: base.$margin-base;;
}

p {
    font-size: $text-p-size;
    color: $text-dark;
}

a {
    font-size: $text-p-size;
    color: $text-dark;
}

